<div class="container">
  <form class="form-horizontal" [formGroup]="frm" (ngSubmit)="onSubmit()">
    <div class="card bg-white">

      <div class="card-header bg-white border-0">
        <h3 class="card-title">{{pageTitle}}</h3>
      </div>

      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="id">Id</label>
          <div class="col-sm-8">
            <input id="id" type="text" class="form-control" formControlName="id" disabled>
          </div>
        </div>

        <div class="form-group row" [ngClass]="{'is-invalid': formErrors.name}">
          <label class="col-sm-2 control-label" for="name">Name</label>
          <div class="col-sm-8">
            <input id="name" type="text" class="form-control" formControlName="name" (blur)="logValidationErrors()">
            <span class="help-block" *ngIf="formErrors.name">
              {{formErrors.name}}
            </span>
          </div>
        </div>
      </div>

      <div class="card-footer bg-white border-0 text-center">
        <div class="form-group row">
          <div class="col-sm-10">
            <button class="btn btn-primary" type="submit" [disabled]="frm.invalid">Save</button>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
