<div class="row">
  <div class="col-xs-6 col-lg-4">
    <h2>Course1</h2>
    <p>...</p>
    <p><a class="btn btn-secondary" (click)="navigate('course1')" role="button">View details »</a></p>
  </div>

  <div class="col-xs-6 col-lg-4">
    <h2>Course2</h2>
    <p>...</p>
    <p><a class="btn btn-secondary" (click)="navigate('course2')" role="button">View details »</a></p>
  </div>

  <div class="col-xs-6 col-lg-4">
    <h2>Course3</h2>
    <p>...</p>
    <p><a class="btn btn-secondary" (click)="navigate('course3')" role="button">View details »</a></p>
  </div>

  <div class="col-xs-6 col-lg-4">
    <h2>Course4</h2>
    <p>...</p>
    <p><a class="btn btn-secondary" (click)="navigate('course4')" role="button">View details »</a></p>
  </div>
</div>
