<div>
  <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" *ngIf="list && list.length">
    <thead>
      <tr class="bg-primary">
        <th *ngFor="let column of columnList">{{column.header}}</th>
        <th *ngIf="allowEdit"></th>
        <th *ngIf="allowDelete"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td *ngFor="let column of columnList">
          <span *ngIf="column.cellControlType=='span'">{{getItemValue(item, column.spanText)}}</span>
          <button class="btn btn-primary" *ngIf="column.cellControlType=='button'"
            (click)="itemButtonClick(column.buttonText, item.id)">{{column.buttonText}}</button>
        </td>
        <td *ngIf="allowEdit"><button class="btn btn-primary" (click)="editButtonClick(item.id)">Edit</button></td>
        <td *ngIf="allowDelete"><button class="btn btn-danger" (click)="deleteButtonClick(item.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
