<div>
  <table class="table table-bordered" *ngIf="list && list.length">
    <thead>
      <tr class="bg-primary">
        <th *ngFor="let column of columnList">{{column.header}}</th>
        <th *ngIf="allowEdit">Edit</th>
        <th *ngIf="allowDelete">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td *ngFor="let column of columnList">{{getItemValue(item, column.dataPropertyName)}}</td>
        <td *ngIf="allowEdit"><button class="btn btn-primary" (click)="editButtonClick(item.id)">Edit</button></td>
        <td *ngIf="allowDelete"><button class="btn btn-danger" (click)="deleteButtonClick(item.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
