<div>
  <table class="table table-bordered" *ngIf="list && list.length">
    <thead>
      <tr class="bg-primary">
        <th>Id</th>
        <th>Name</th>
        <th *ngIf="allowEdit">Edit</th>
        <th *ngIf="allowDelete">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td *ngIf="allowEdit"><button class="btn btn-primary" (click)="editButtonClick(item.id)">Edit</button></td>
        <td *ngIf="allowDelete"><button class="btn btn-danger" (click)="deleteButtonClick(item.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
