  <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
    <a class="navbar-brand" href="#">{{brand}}</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" [class.disabled]="!isLoggedIn()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" [class.disabled]="!isLoggedIn()">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="courses" [class.disabled]="!isLoggedIn()">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="feature2" [class.disabled]="!isLoggedIn()">Feature2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="lookup-tables" [class.disabled]="!isLoggedIn()">Lookup Tables</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="patients" [class.disabled]="!isLoggedIn()">Patients</a>
      </li>
    </ul>

    <div class="collapse navbar-collapse" id="divNavbarUser">
      <!-- <ul class="navbar-nav" id="ulNavbarUser"> -->
      <ul class="nav navbar-nav " id="ulNavbarUser">
        <!-- <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fa fa-envelope"></i> Contact <span class="sr-only">(current)</span></a>
      </li> -->
        <!-- <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-gear"></i> Settings</a>
      </li> -->
        <li class="nav-item dropdown" *ngIf="isLoggedIn()">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="fa fa-user"></i> Hello, {{user?.firstName}} </a>
          <div class="dropdown-menu dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item" href="#">My account</a>
            <a class="dropdown-item" (click)="logout()">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <h1 class="text-left">{{moduleTitle}}</h1>
  </div>

  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <shared-breadcrumb *ngIf="isLoggedIn()"></shared-breadcrumb>
      <router-outlet></router-outlet>
    </div>
    <shared-side-menu [sideBarLinks]="sideBarLinks" *ngIf="isLoggedIn()"></shared-side-menu>
  </div>
